<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <title>Notes</title>
  </head>
  <body>
    <div class = "header">
        <h1 class="welcome">Welcome to Note!</h1>
        <h3 class="desc">Note cards are viewed here.</h3>
    </div>

    <div class = "nav-container">
        <h4>Navigation</h4>
        <div class = "navbar">
            <nav>
                <a href="/lab-4">Note Table</a> |
                <a href="/lab-4/note-list">Note Cards</a> |
                <a href="/lab-4/add-note">Add Note</a>
            </nav>
        </div>
    </div>
      
    <div class="container">
        <div class="card-container">
            {%for note in notes%}
            <div class="card">
                <h3>{{ note.title }}</h3>
                <p><b>From : </b>{{ note.sender }}</p>
                <p><b>To : </b>{{ note.to }}</p>
                <p> {{ note.message }} </p>
            </div>
            {%endfor%}
        </div>
    </div>

  </body>
</html>
