<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <title>Note Form</title>
  </head>

  <body>
    <div class = "header">
        <h1 class="welcome">Welcome to Note!</h1>
        <h3 class="desc">Add notes by filling the form below.</h3>
    </div>

    <div class = "nav-container">
        <h4>Navigation</h4>
        <div class = "navbar">
            <nav>
                <a href="/lab-4">Note Table</a> |
                <a href="/lab-4/note-list">Note Cards</a> |
                <a href="/lab-4/add-note">Add Note</a>
            </nav>
        </div>
    </div>
    
    <div class="container">
        <div class="notesubmitbox">
        <h3>Fill below.</h3>
            <form action="" method=POST>
                {% csrf_token %}
                <!-- {{form}} -->
                <!-- <input type="submit"> -->
                <p class="input-label">To</p>
                <input type="text" class="input-field" name="to" required id = "to" placeholder="Reciever's name..">

                <p class="input-label">Sender</p>
                <input type="text" class="input-field" name="sender" required id = "sender" placeholder="Sender's name..">
                
                <p class="input-label">Title</p>
                <input type="text" class="input-field" name="title" required id = "title" placeholder="Title..">

                <p class="input-label">Message</p>
                <input type="text" class="input-field" name="message" required id = "message" placeholder="Message..">

                <input type="submit" class="button-submit" value="submit">

            </form>
        </div>
    </div>
  </body>

</html>