<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <title>Notes</title>
  </head>
  <body>
    <div class = "header">
        <h1 class="welcome">Welcome to Note!</h1>
        <h3 class="desc">You can look at the notes here.</h3>
    </div>

    <div class = "nav-container">
        <h4>Navigation</h4>
        <div class = "navbar">
            <nav>
                <a href="/lab-4">Note Table</a> |
                <a href="/lab-4/note-list">Note Cards</a> |
                <a href="/lab-4/add-note">Add Note</a>
            </nav>
        </div>
    </div>
      
    <div class="container">
        <div class="note-container">
            <div class="table">
                <table>
                <tr>
                    <th>To</th>
                    <th>From</th>
                    <th>Title</th>
                    <th>Message</th>
                </tr>
                    {% if notes %} 
                    {% for note in notes %}
                    <tr>
                        <td>{{ note.to }}</td>
                        <td>{{ note.sender }}</td>
                        <td>{{ note.title }}</td>
                        <td>{{ note.message }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}  
                </table>
            </div>
        </div>
    </div>

  </body>
</html>
