*{
	font-family: Tahoma;
}

h1{
	font-size: 72px;
	margin: 0px;
	color: #fff;
}

body {
	background-color: #6f89aa;
	margin: 0;
}

.header{
	background-color: #0b1727;
	display: flex;
	color: white;
	flex-direction: column;
	align-items: center;
	padding: 2%;
}

.nav-container{
	background-color: #6f89aa;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px;
	padding: 1%;
}

.nav-container h4{
	margin: 1px;
}

.navbar{
	padding: 5px;
}


.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

table{
	border-spacing: 50px 0;
}

td {
	padding: 5px 0;
}

.note-container {
	background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    align-items: flex-end;
	box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 10px 6px rgb(0 0 0 / 23%);
}

.card {
	background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    align-items: flex-end;
	box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 10px 6px rgb(0 0 0 / 23%);
	margin: 50px;
}

.notesubmitbox{
	background-color: #fff;
    border-radius: 10px;
	padding: 12px 20px;
	box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 10px 6px rgb(0 0 0 / 23%);
	/* display: flex; */
	/* display: inline-block; */

	/* flex-direction: column; */
	/* align-items: center; */
	text-align: center;
}

/* .input-label{
	float: left;
	width: 25%;
	margin-top: 6px;
} */
  
.input-field {
	width: 100%;
}
